<div class="container padded">
  <h1>Restaurants</h1>

  <%= link_to "Add a restaurant", new_admin_restaurant_path %>

  <ul>
    <% @restaurants.each do |resto| %>
      <h2><%= link_to resto.name, admin_restaurant_path(resto) %></h2>
    <% end %>
  </ul>
</div>
